In [1]:
class skills:
    def __init__(self, name, email):
        self.name = name
        self.email = email
        
    def students_details(self):
        print(self.name, self.email)

In [2]:
s = skills("mohan", "mohan@gmail.com")

In [3]:
s.name

'mohan'

In [4]:
s.email

'mohan@gmail.com'

In [5]:
 s.students_details()

mohan mohan@gmail.com

In [8]:
class skills1:
    def __init__(self, name, email):
        self.name = name
        self.email = email
        
    @classmethod
    def details(cls, name, email):
        return cls(name, email)
        
    def students_details(self):
        print(self.name, self.email)

In [10]:
s1 = skills1.details('krishna','krishna@gmail.com')

In [11]:
s1.name

'krishna'

In [12]:
s1.email

'krishna@gmail.com'

In [13]:
s1.students_details()

krishna krishna@gmail.com

In [23]:
class skills2:
    
    mobile_no = 97788468974
    
    def __init__(self, name, email):
        self.name = name
        self.email = email
        
    @classmethod
    def change_no(cls, mobile):
        skills2.mobile_no = mobile
        
    @classmethod
    def details(cls, name, email):
        return cls(name, email)
        
    def students_details(self):
        print(self.name, self.email)

In [21]:
skills2.mobile_no

97788468974

In [24]:
skills2.change_no(9645525432)

In [27]:
skills2.mobile_no

9645525432

In [28]:
class skills2:
    
    mobile_no = 97788468974
    
    def __init__(self, name, email):
        self.name = name
        self.email = email
        
    @classmethod
    def change_no(cls, mobile):
        skills2.mobile_no = mobile
        
    @classmethod
    def details(cls, name, email):
        return cls(name, email)
        
    def students_details(self):
        print(self.name, self.email,skills2.mobile_no)

In [29]:
s_obj = skills2("krishna","krishna@gmail.com")

In [30]:
s_obj.students_details()

krishna krishna@gmail.com 97788468974

In [31]:
skills2.change_no(5782358562)

In [32]:
skills2.mobile_no

5782358562

In [33]:
s = skills2.details('rohan','rohan@gmail.com')

In [34]:
s.students_details()

rohan rohan@gmail.com 5782358562

In [35]:
class skills3:
    
    mobile_no = 97788468974
    
    def __init__(self, name, email):
        self.name = name
        self.email = email
        
    @classmethod
    def change_no(cls, mobile):
        skills2.mobile_no = mobile
        
    @classmethod
    def details(cls, name, email):
        return cls(name, email)
        
    def students_details(self):
        print(self.name, self.email,skills2.mobile_no)

In [36]:
def course_details(cls, course_name):
    print("course name is", course_name)

In [38]:
skills3.course_details = classmethod(course_details)

In [39]:
skills3.course_details('data science')

course name is data science

In [43]:
def mentor(cls, list_of_mentor):
    print(list_of_mentors)

In [44]:
skills3.mentor = classmethod(mentor)

In [47]:
class skills4:
    
    mobile_no = 97788468974
    
    def __init__(self, name, email):
        self.name = name
        self.email = email
        
    @classmethod
    def change_no(cls, mobile):
        skills2.mobile_no = mobile
        
    @classmethod
    def details(cls, name, email):
        return cls(name, email)
        
    def students_details(self):
        print(self.name, self.email,skills2.mobile_no)

In [48]:
del skills4.change_no

In [49]:
skills4.change_no(36456162)

AttributeError: type object 'skills4' has no attribute 'change_no'

In [50]:
delattr(skills4, "details")

In [52]:
delattr(skills4, "students_details")